<a href="https://colab.research.google.com/github/SPMazibuko/Hotel-Management/blob/master/SPMazibukoBigMartSales_Pre_processed_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pre-processing Steps**

###    1. Filling the missing values

###    2. Converting categories to numbers

###    3. Bring all the variables in range 0 to 1

In [ ]:
# importing required libraries
import pandas as pd

In [ ]:
# check version on pandas
print('Version of pandas:', pd.__version__)

Version of pandas: 1.3.5

In [ ]:
# reading the train big mart sales prediction data
train = pd.read_csv('train_XnW6LSF.csv')

In [ ]:
# reading the test big mart sales prediction data
test = pd.read_csv('test_FewQE9B.csv')

In [ ]:
# looking at the first five rows of the train data
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
# looking at the first five rows of the test data
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [ ]:
# shape of the train data
train.shape

(8523, 12)

In [ ]:
# shape of the test data
test.shape

(5681, 11)

In [ ]:
# checking missing values in the train data
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
# checking missing values in the test data
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [ ]:
# data types of the variables in train data
train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
# data types of the variables in test data
test.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
dtype: object

# **1. Impute Missing Values**

### Train Categorical data

In [ ]:
train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0], inplace=True)

### Train Continous data

In [ ]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(), inplace=True)

In [ ]:
# checking missing values after imputation
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

### Test Categorical data

In [ ]:
test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0], inplace=True)

### Test Continous data

In [ ]:
test['Item_Weight'].fillna(test['Item_Weight'].mean(), inplace=True)

In [ ]:
# checking missing values after imputation
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

## 2. Converting categories to numbers

converting the train categories into numbers

In [ ]:
# Item_Fat_Content
#train['Item_Fat_Content'] = train['Item_Fat_Content'].map({'Low Fat': 0, 'Regular': 1, 'reg':2})
train.loc[(train.Item_Fat_Content =="Low Fat"),'Item_Fat_Content']=0
train.loc[(train.Item_Fat_Content =="low fat"),'Item_Fat_Content']=0
train.loc[(train.Item_Fat_Content =="LF"),'Item_Fat_Content']=0
train.loc[(train.Item_Fat_Content =="Regular"),'Item_Fat_Content']=1
train.loc[(train.Item_Fat_Content =="reg"),'Item_Fat_Content']=1

In [ ]:
# Item_Type
# test['Item_Type'] = test['Item_Type'].map({'Dairy': 0, 'Soft Drinks': 1, 'Meat': 2, 'Fruits and Vegetables': 3, 'Household': 4,'Canned':5,'Baking Goods': 6,'Others': 8})
train.loc[(train.Item_Type =="Dairy"),'Item_Type']=0
train.loc[(train.Item_Type =="Soft Drinks"),'Item_Type']=1
train.loc[(train.Item_Type =="Meat"),'Item_Type']=2
train.loc[(train.Item_Type =="Fruits and Vegetables"),'Item_Type']=3
train.loc[(train.Item_Type =="Household"),'Item_Type']=4
train.loc[(train.Item_Type =="Canned"),'Item_Type']=5
train.loc[(train.Item_Type =="Baking Goods"),'Item_Type']=6
train.loc[(train.Item_Type =="Snack Foods"),'Item_Type']=7
train.loc[(train.Item_Type =="Frozen Foods"),'Item_Type']=8
train.loc[(train.Item_Type =="Breakfast"),'Item_Type']=9
train.loc[(train.Item_Type =="Starchy Foods"),'Item_Type']=10
train.loc[(train.Item_Type =="Health and Hygiene"),'Item_Type']=11
train.loc[(train.Item_Type =="Hard Drinks"),'Item_Type']=12
train.loc[(train.Item_Type =="Breads"),'Item_Type']=13
train.loc[(train.Item_Type =="Seafood"),'Item_Type']=14
train.loc[(train.Item_Type =="Others"),'Item_Type']=15

In [ ]:
# Outlet_Size
# train['Outlet_Size'] = train['Outlet_Size'].map({'Small': 0, 'Medium': 1, 'High': 2})
train.loc[(train.Outlet_Size =="Small"),'Outlet_Size']=0
train.loc[(train.Outlet_Size =="Medium"),'Outlet_Size']=1
train.loc[(train.Outlet_Size =="High"),'Outlet_Size']=2

In [ ]:
# Outlet_Location_Type
# train['Outlet_Location_Type'] = train['Outlet_Location_Type'].map({'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2})
train.loc[(train.Outlet_Location_Type =="Tier 1"),'Outlet_Location_Type']=0
train.loc[(train.Outlet_Location_Type =="Tier 2"),'Outlet_Location_Type']=1
train.loc[(train.Outlet_Location_Type =="Tier 3"),'Outlet_Location_Type']=2

In [ ]:
# Outlet_Type
# train['Outlet_Type'] = train['Outlet_Type'].map({'Supermarket Type1': 0, 'Supermarket Type2': 1, 'Supermarket Type3': 2, 'Grocery Store': 3})
train.loc[(train.Outlet_Type =="Supermarket Type1"),'Outlet_Type']=0
train.loc[(train.Outlet_Type =="Supermarket Type2"),'Outlet_Type']=1
train.loc[(train.Outlet_Type =="Supermarket Type3"),'Outlet_Type']=2
train.loc[(train.Outlet_Type =="Grocery Store"),'Outlet_Type']=3

In [ ]:
# Outlet_Identifier
# train['Outlet_Identifier'] = train['Outlet_Identifier'].map({'OUT018': 0, 'OUT010': 1, 'OUT013': 2, 'OUT049': 3})
train.loc[(train.Outlet_Identifier =="OUT018"),'Outlet_Identifier']=0
train.loc[(train.Outlet_Identifier =="OUT010"),'Outlet_Identifier']=1
train.loc[(train.Outlet_Identifier =="OUT013"),'Outlet_Identifier']=2
train.loc[(train.Outlet_Identifier =="OUT049"),'Outlet_Identifier']=3
train.loc[(train.Outlet_Identifier =="OUT027"),'Outlet_Identifier']=4
train.loc[(train.Outlet_Identifier =="OUT045"),'Outlet_Identifier']=5
train.loc[(train.Outlet_Identifier =="OUT017"),'Outlet_Identifier']=6
train.loc[(train.Outlet_Identifier =="OUT046"),'Outlet_Identifier']=7
train.loc[(train.Outlet_Identifier =="OUT035"),'Outlet_Identifier']=8
train.loc[(train.Outlet_Identifier =="OUT019"),'Outlet_Identifier']=9

In [ ]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,0,0.016047,0,249.8092,3,1999,1,0,0,3735.1380
1,DRC01,5.92,1,0.019278,1,48.2692,0,2009,1,2,1,443.4228
2,FDN15,17.50,0,0.016760,2,141.6180,3,1999,1,0,0,2097.2700
3,FDX07,19.20,1,0.000000,3,182.0950,1,1998,1,2,3,732.3800
4,NCD19,8.93,0,0.000000,4,53.8614,2,1987,2,2,0,994.7052

converting the test categories into numbers

In [ ]:
# Item_Fat_Content
#test['Item_Fat_Content'] = test['Item_Fat_Content'].map({'Low Fat': 0, 'Regular': 1, 'reg':2})
test.loc[(test.Item_Fat_Content =="Low Fat"),'Item_Fat_Content']=0
test.loc[(test.Item_Fat_Content =="low fat"),'Item_Fat_Content']=0
test.loc[(test.Item_Fat_Content =="LF"),'Item_Fat_Content']=0
test.loc[(test.Item_Fat_Content =="Regular"),'Item_Fat_Content']=1
test.loc[(test.Item_Fat_Content =="reg"),'Item_Fat_Content']=1

In [ ]:
# Item_Type
# test['Item_Type'] = test['Item_Type'].map({'Dairy': 0, 'Soft Drinks': 1, 'Meat': 2, 'Fruits and Vegetables': 3, 'Household': 4,'Canned':5,'Baking Goods': 6,'Others': 8})
test.loc[(test.Item_Type =="Dairy"),'Item_Type']=0
test.loc[(test.Item_Type =="Soft Drinks"),'Item_Type']=1
test.loc[(test.Item_Type =="Meat"),'Item_Type']=2
test.loc[(test.Item_Type =="Fruits and Vegetables"),'Item_Type']=3
test.loc[(test.Item_Type =="Household"),'Item_Type']=4
test.loc[(test.Item_Type =="Canned"),'Item_Type']=5
test.loc[(test.Item_Type =="Baking Goods"),'Item_Type']=6
test.loc[(test.Item_Type =="Snack Foods"),'Item_Type']=7
test.loc[(test.Item_Type =="Frozen Foods"),'Item_Type']=8
test.loc[(test.Item_Type =="Breakfast"),'Item_Type']=9
test.loc[(test.Item_Type =="Starchy Foods"),'Item_Type']=10
test.loc[(test.Item_Type =="Health and Hygiene"),'Item_Type']=11
test.loc[(test.Item_Type =="Hard Drinks"),'Item_Type']=12
test.loc[(test.Item_Type =="Breads"),'Item_Type']=13
test.loc[(test.Item_Type =="Seafood"),'Item_Type']=14
test.loc[(test.Item_Type =="Others"),'Item_Type']=15

In [ ]:
# Outlet_Size
# test['Outlet_Size'] = test['Outlet_Size'].map({'Small': 0, 'Medium': 1, 'High': 2})
test.loc[(test.Outlet_Size =="Small"),'Outlet_Size']=0
test.loc[(test.Outlet_Size =="Medium"),'Outlet_Size']=1
test.loc[(test.Outlet_Size =="High"),'Outlet_Size']=2

In [ ]:
# Outlet_Location_Type
# test['Outlet_Location_Type'] = train['Outlet_Location_Type'].map({'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2})
test.loc[(test.Outlet_Location_Type =="Tier 1"),'Outlet_Location_Type']=0
test.loc[(test.Outlet_Location_Type =="Tier 2"),'Outlet_Location_Type']=1
test.loc[(test.Outlet_Location_Type =="Tier 3"),'Outlet_Location_Type']=2

In [ ]:
# Outlet_Type
# test['Outlet_Type'] = test['Outlet_Type'].map({'Supermarket Type1': 0, 'Supermarket Type2': 1, 'Supermarket Type3': 2, 'Grocery Store': 3})
test.loc[(test.Outlet_Type =="Supermarket Type1"),'Outlet_Type']=0
test.loc[(test.Outlet_Type =="Supermarket Type2"),'Outlet_Type']=1
test.loc[(test.Outlet_Type =="Supermarket Type3"),'Outlet_Type']=2
test.loc[(test.Outlet_Type =="Grocery Store"),'Outlet_Type']=3

In [ ]:
# Outlet_Identifier
# test['Outlet_Identifier'] = test['Outlet_Identifier'].map({'OUT018': 0, 'OUT010': 1, 'OUT013': 2, 'OUT049': 3})
test.loc[(test.Outlet_Identifier =="OUT018"),'Outlet_Identifier']=0
test.loc[(test.Outlet_Identifier =="OUT010"),'Outlet_Identifier']=1
test.loc[(test.Outlet_Identifier =="OUT013"),'Outlet_Identifier']=2
test.loc[(test.Outlet_Identifier =="OUT049"),'Outlet_Identifier']=3
test.loc[(test.Outlet_Identifier =="OUT027"),'Outlet_Identifier']=4
test.loc[(test.Outlet_Identifier =="OUT045"),'Outlet_Identifier']=5
test.loc[(test.Outlet_Identifier =="OUT017"),'Outlet_Identifier']=6
test.loc[(test.Outlet_Identifier =="OUT046"),'Outlet_Identifier']=7
test.loc[(test.Outlet_Identifier =="OUT035"),'Outlet_Identifier']=8
test.loc[(test.Outlet_Identifier =="OUT019"),'Outlet_Identifier']=9

In [ ]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750000,0,0.007565,7,107.8622,3,1999,1,0,0
1,FDW14,8.300000,1,0.038428,0,87.3198,6,2007,1,1,0
2,NCN55,14.600000,0,0.099575,15,241.7538,1,1998,1,2,3
3,FDQ58,7.315000,0,0.015388,7,155.0340,6,2007,1,1,0
4,FDY38,12.695633,1,0.118599,0,234.2300,4,1985,1,2,2

## 3. Bringing all the variables in range 0 to 1

In [ ]:
# drop Outlet_Identifier from the train
# train = train.drop('Outlet_Identifier', axis=1)

In [ ]:
# applying for loop to bring all the variables in range 0 to 1 in the train data

for i in train.columns[1:]:
    train[i] = (train[i] - train[i].min()) / (train[i].max() - train[i].min())

In [ ]:
# again looking at first five rows of the train pre-processed data
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,0.282525,0.0,0.048866,0.0,0.927507,0.333333,0.583333,0.5,0.0,0.0,0.283587
1,DRC01,0.081274,1.0,0.058705,0.066667,0.072068,0.0,1.000000,0.5,1.0,0.333333,0.031419
2,FDN15,0.770765,0.0,0.051037,0.133333,0.468288,0.333333,0.583333,0.5,0.0,0.0,0.158115
3,FDX07,0.871986,1.0,0.000000,0.2,0.640093,0.111111,0.541667,0.5,1.0,1.0,0.053555
4,NCD19,0.260494,0.0,0.000000,0.266667,0.095805,0.222222,0.083333,1.0,1.0,0.0,0.073651

In [ ]:
# drop Outlet_Identifier from the test data
#test = test.drop('Outlet_Identifier', axis=1)

In [ ]:
# applying for loop to bring all the variables in range 0 to 1 in the test data

for i in test.columns[1:]:
    test[i] = (test[i] - test[i].min()) / (test[i].max() - test[i].min())

In [ ]:
# again looking at first five rows of the test pre-processed data
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,0.964275,0.0,0.023374,0.466667,0.323413,0.333333,0.583333,0.5,0.0,0.0
1,FDW14,0.222983,1.0,0.118737,0.0,0.235849,0.666667,0.916667,0.5,0.5,0.0
2,NCN55,0.598095,0.0,0.307674,1.0,0.894140,0.111111,0.541667,0.5,1.0,1.0
3,FDQ58,0.164335,0.0,0.047548,0.466667,0.524488,0.666667,0.916667,0.5,0.5,0.0
4,FDY38,0.484706,1.0,0.366458,0.0,0.862069,0.444444,0.000000,0.5,1.0,0.666667

#Saving the Pre-processed data

In [ ]:
# saving the train pre-processed data
train.to_csv('big_mart_sales_train_prediction_data.csv', index=False)

In [ ]:
# saving the train pre-processed data
test.to_csv('big_mart_sales_test_prediction_data.csv', index=False)